<nav>
    <div class="nav-wrapper">
      <a a routerLink="home" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="about">A Propos</a></li>
        <li><a routerLink="parcours">Parcours</a></li>
        <li><a routerLink="achievement">Réalisations</a></li>
        <li><a routerLink="contact">Contact</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="about">A propos</a></li>
    <li><a routerLink="parcours">Parcours</a></li>
    <li><a routerLink="achievement">Réalisations</a></li>
    <li><a routerLink="contact">Contact</a></li>
  </ul>
          
